*{
  /*outline: 1px dotted solid black;*/
}
#alert{
    color: rgb(255, 107, 82);
  text-align: left;
  padding-left: 15px;
}
i{
  /*Controls the loading spinner*/
  opacity: 0.7;
}
#loader {
  /*margin-left: 200px;*/
  /*margin: 0 auto;*/
  margin-top: 40px;
  text-align: center;
}
.thumbnail{
  width: 65px;
  height: 50px;
  float: left;
  padding: 0 10px 10px 0;
}
body{
    font-family: sans-serif;
}
tr:nth-child(odd){
	background-color: azure;
	padding: 5px;
}
tr{
	background-color: aliceblue;
	padding: 5px;
}
table{
  border-spacing: 5px;
  border: 1px solid black;
}
.error_text{
  color: red;
}
.success_text{
  color: darkgreen;
}
.highlight_text{
  color: black;
  background-color:rgb(255,114,38);
  border-radius: 3px;
}
/*####################*/
/*## steve's styles ##*/
/*####################*/
.header{
    /*padding: 10px;*/
    /*border: 3px solid gray;*/
    /*background: linear-gradient(rgb(247,247,247),rgb(224,224,224));*/
    background: linear-gradient(rgb(255,114,38),rgb(255, 107, 82));
    border: 1px solid gray;

    border-radius: 5px;
    /*margin: 2px 0px 20px 0px;*/
    margin: 0 auto;
    margin-bottom: 20px;
    width: 80%;
    min-width: 315px;
}
    .header_msg{
        /*display: inline-block;*/
        width: 100%;
        /*margin: 0 auto;*/
    }
        .header_msg h2{
            margin: 10px 5px 2px 10px;
            font-weight: normal;
        }
    .nav_links{
        /*display: inline-block;
        text-align: right;
        width: 39%;*/
        width: 100%;
    	height: 39px;
    	/*display:inline-block;*/
    	color: rgb(162,152,150);
    	/*padding: 0px;*/
    	text-align: right;
        /*background: linear-gradient(rgb(255,114,38),rgb(255, 255, 255));*/
    	border-radius: 0px 0px 5px 5px;
    	/*margin-bottom: 10px;*/
        /*margin: 0 auto;*/
    }
        .nav_links a{
            /*margin: 5px 5px 5px 5px;
            padding: 5px;
            border: 2px solid black;
            border-radius: 5px;
            color: black;
            text-decoration: none;
            background-color: lightgray;*/
            display: inline-block;
    		color: black;
    		font-weight: bold;
    		margin: 0px;
    		border-left: 1px solid black;
    		vertical-align: top;
    		height: 27px;
    		padding: 12px 10px 0px 10px;
        }
#user_content{
    margin: 0 auto;
    width: 60%;
    /*outline: 1px solid black;*/
    text-align: center;
}
#api_form{
    width: 45%;
    min-width: 255px;
    display: inline-block;
    margin: 10px 10px 10px 10px;
    vertical-align: top;
    border: 1px solid gray;
    border-radius: 10px;
    height: 300px;
    text-align: left;
    background-color: white;
}
    #api_form h3{
        background: linear-gradient(rgb(255,114,38),rgb(255, 107, 82));
        margin: 0;
        padding: 20px 20px 20px 20px;
        border-bottom: 1px solid gray;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .c_box{
        display: block;
        margin: 10px 10px 10px 30px;
    }
    .t_box{
        display: block;
        margin: 10px 10px 10px 40px;
    }
#user_info{
    width: 45%;
    min-width: 255px;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    height: 300px;
    background-color: white;
}
    #user_info h3{
        background: linear-gradient(rgb(255,114,38),rgb(255, 107, 82));
        margin: 0;
        padding: 20px 20px 20px 20px;
        border-bottom: 1px solid gray;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    #user_info h4{
        display: inline-block;
        margin: 0px;
    }
    #user_info p{
        display: inline-block;
        margin: 0px;
    }
    .user_field{
        display: block;
        margin: 10px;
    }
/*############*/
/*index page*/
/*############*/
#home_content{
    text-align: center;
}
    .news_box{
        margin: 0 auto;
        border: 1px solid gray;
        border-radius: 10px;
        width: 55%;
        min-width: 600px;
        height: 600px;
        overflow-y: scroll;
        display: inline-block;
        text-align: left;
        background-color: snow;
    }
        .news_box h4{
            margin: 0px;
            padding: 10px;
            border-bottom: 1px solid gray;
            border-top: 1px solid gray;
            margin-bottom: 20px;
            background: linear-gradient(rgb(255,114,38),rgb(255, 107, 82));
            font:rgb(255,114,38);
        }
        .news_box a{
            margin: 5px 10px 2px 20px;
            color: rgb(0,140,255);
            font-weight: bold;
            word-wrap: break-word;
        }
        .news_box p{
            margin: 5px 10px 25px 25px;
        }
    #weather_map{
        display: inline-block;
        width: 20%;
        min-width: 240px;
        height: 410px;
        vertical-align: top;
        margin: 50px 0px  0px 20px;
    }
        #map{
            margin: 0 auto;
            width: 100%;
            height: 200px;
            vertical-align: top;
        }
        #weather{
            margin: 0 auto;
            border: 1px solid gray;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            width: 100%;
            height: 240px;
            vertical-align: top;
        }
            #weather h4{
                margin: 0px 0px 0px 0px;
                padding: 10px;
                border-bottom: 1px solid gray;
                margin-bottom: 10px;
                background: linear-gradient(rgb(255,114,38),rgb(255, 107, 82));
                font-size: 1.2em;
            }
            #weather p{
                margin: 0px 0px 5px 0px;
                font-size: 1.2em;
            }
            .weather_title{
                font-weight: bold;
                color: rgb(0,140,255);
            }
