*{
  /*outline: 1px dotted solid black;*/
}
tr:nth-child(odd){
	background-color: azure;
	padding: 5px;
}
tr{
	background-color: aliceblue;
	padding: 5px;
}
table{
  border-spacing: 5px;
  border: 1px solid black;
}
.error_text{
  color: red;
}
.success_text{
  color: darkgreen;
}
.highlight_text{
  color: black;
  background-color:yellow;
}
i{
  /*Controls the loading spinner*/
  opacity: 0.2;
}
#loader{
  margin-left: 200px;
}
