
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% load staticfiles %}

  <!-- <link rel="stylesheet" href="{% static 'login_reg/css/style.css' %}"media="screen" title="no title" charset="utf-8"> -->
  <link rel="stylesheet" href="{% static 'login_reg/css/bootstrap.min.css' %}"media="screen" title="bootstrap" charset="utf-8">
  <!-- <script type="text/javascript" src='http://code.jquery.com/jquery-1.10.2.min.js'></script> -->
  <!-- <script src="{% static 'login_reg/js/script.js' %}"></script> -->
  <title>Email and Registrations Assignment</title>
</head>
<body>
	<div id='mainBox' style="background-image: url({% static 'login_reg/images/road_mountain_landscape.jpg' %});">
    <div id='main_content'>
        <div class='container mainLogo' style="background-image: url({% static 'login_reg/images/infohub_logo.png' %});"></div>
        <div class='container login'>
          <h3>Login</h3>
          <form action="{% url 'useradmin:login' %}" method="POST">
            {% csrf_token %}
            <p>Email: <input type="text" name="Email"></p>
            <p>Password: <input type="password" name="Password"></p>
            <input class="btn btn-primary" type="submit" name="submit" value="Log in">
          </form>
        </div>
        {% if messages %}
          <div class="container errors">
            <h3> Errors </h3>
            <ul>
              {% for message in messages %}
                <li class="error">{{ message }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        <div class='container registration'>
          <h3>Registration</h3>
          <form action="{% url 'useradmin:register' %}" method="POST">
            {% csrf_token %}
      			<p align="right">First Name: <input type="text" name="First Name"></p>
      			<p align="right">Last Name: <input type="text" name="Last Name"></p>
      			<p align="right">Email: <input type="text" name="Email"></p>
            <p align="right">City: <input type="text" name="City"></p>
      			<p align="right">Password: <input type="password" name="Password"></p>
      			<p align="right">Confirm Password: <input type="password" name="Confirmed Password"></p>
            <p align="right">Birthday: <input type="date" name="Birthday"></p>
      			<input class="btn btn-primary" type="submit" name="submit" value="Register">
      		</form>
        </div>
      </div>
	</div>
</body>
</html>
