<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'infohub/css/style.css' %}"media="screen" title="no title" charset="utf-8">
    <script src="{% static 'infohub/js/script.js' %}" ></script>
    <title>InfoHub</title>
  </head>
  <body>
    <a href="{% url 'useradmin:logout' %}">Log out</a>
    <div>
      <p>Hi, {{ first_name }}</p>
      <h4>News</h4>
      {% for story in stories %}
        <p>
          <b><a target="_blank" href="{{ story.url }}">{{ story.title }}</a></b>
          <p>
            <b>{{ story.source }}:</b> {{ story.description }}
          </p>
        </p>
      {% endfor %}
    </div>
  </body>
</html>
