<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'infohub/css/style.css' %}"media="screen" title="no title" charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{% static 'infohub/js/script.js' %}" ></script>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'infohub/css/bootstrap.min.css' %}"media="screen" title="bootstrap" charset="utf-8">
    <title>InfoHub</title>
    <meta name="viewport" content="initial-scale=0.5">
  </head>
  <body>
    <div id="big_box">
        <div class="header">
            <div class="header_msg">
                <h2>Hi, {{ first_name }}</h2>
            </div>
            <nav class="nav_links">
                <a href="/info/profile">Profile</a>
                <a href="{% url 'useradmin:logout' %}">Logout</a>
            </nav>
        </div>
        <div id="home_content">
            <div class="news_box">
              <div id="alert" hidden="true">
              </div>
              <div id="loader">
                <i class="fa fa-circle-o-notch fa-spin" style="font-size:500px;color:rgb(255,114,38)"></i>
              </div>
              <img id="npr_def_img" hidden=true src="{% static 'infohub/img/npr-logo.png' %}">
            </div>
            <div id="weather_map">
                <div id="map"></div>
                <div id="weather">
                    <h4>Weather</h4>
                    <span class="weather_title"><p>Status</p></span>
                    <p>{{weather_status}}</p>
                    <span class="weather_title"><p>Temperature</p></span>
                    <p>{{weather_temp}}&deg; F</p>
                    <span class="weather_title"><p>Humidity</p></span>
                    <p>{{weather_humidity}}%</p>
                </div>
            </div>
        </div>
    </div>
    <script>
      var map;

      function initMap(){
        var coords = {{ coords }};

        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat:coords[0], lng:coords[1]},
            zoom: 10
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCN903LgBdd3vb0hD7qQvQveysWIRuv0_I&callback=initMap" async defer>
    </script>
  </body>
</html>
